* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

nav {
  display: flex;
  height: 100vh;
}
.left-panel {
  position: fixed;
  height: 100vh;
  background: black;
  width: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px;
  filter: drop-shadow(5px 7px 7px black);
}
.left-panel img {
  height: 25vh;
  transition:  transform ;
  cursor: pointer;
}
/* .left-panel img:hover {
  animation-duration: 1.2s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */


@keyframes changewidth {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}
.left-panel p {
  color: white;
  font-family: "Qwigley", cursive;
  font-size: 2.5em;
  transition: ease 1.6s;
}

.left-panel p:hover {
  transform: rotate(90deg) translateX(180px);
}

.right-panel {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  left: 50%;
  width: 70%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.nav-items {
  position: fixed;
  height: 8vh;
  width: 40%;
  right: 10%;
}
.nav-items ul {
  position: relative;
  display: flex;
  top: 50%;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.nav-hamb {
  position: fixed;
  display: flex;
  justify-content: space-around;
}
.nav-items li {
  list-style: none;
}
.nav-items a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
}
.hamburger {
  position: fixed;
  left: 90%;
  display: flex;
  flex-direction: column;
  width: 20px;
  padding: 30px;
  cursor: pointer;
}
.hamb-one {
  height: 2px;
  margin: 2px;
  background: black;
  width: 30px;
  border-radius: 2px;
}
.hamb-two {
  height: 2px;
  margin: 2px;
  background: black;
  width: 30px;
  border-radius: 2px;
}
.hamb-three {
  height: 2px;
  margin: 2px;
  background: black;
  width: 30px;
  border-radius: 2px;
}

.hamb-one-close {
  height: 2px;
  margin: 2px;
  background: black;
  width: 30px;
  border-radius: 2px;
  transform: rotate(45deg) translateY(5px) translateX(4px);
}
.hamb-two-close {
  display: block;
}
.hamb-three-close {
  height: 2px;
  margin: 2px;
  background: black;
  width: 30px;
  border-radius: 2px;
  transform: rotate(-45deg);
}
.cards {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20%;
  transition: all 2.2s;
  left: 52%;
  width: 45%;
  
}
.line-one-cards {
  display: flex;
}
.line-two-cards {
  display: flex;
}

.card {
  display: grid;
  position: relative;
  height: 25vh;
  top: 20%;
  width: 30%;
  align-items: center;
  left: 5%;
  margin: 5px;
  grid-template-columns: 180px;
  background: url(./img/twitter.jpg) no-repeat center center/cover;
  grid-template-rows: 100px 80px 10px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: ease 2s;
}
.card-two {
  background: url(./img/monitoring.jpg) no-repeat center center/cover;
}
.card-three {
  background: url(./img/cartoon.png) no-repeat center center/cover;
  color: white;
}
.card a {
  color: black;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.line-two-one {
  background: url(./img/playlist.jpg) no-repeat center center/cover;
}
.line-two-two {
  background: url(./img/hack.jpg) no-repeat center center/cover;
}
.line-two-three {
  background: url(./img/faceapi.jpg) no-repeat center center/cover;
}
.card:hover {
  transform: rotateY(360deg);
  background: white;
}

.lets-talk {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.144);
  box-shadow: 5px 7px 8px black;
  border-radius: 20px;
  filter: drop-shadow(5px 7px 8px black);
  display: flex;
  text-align: center;
  top: 15%;
  height: 40vh;
  flex-direction: column;
  width: 30%;
  left: 20%;
  padding: 5px;
  font-family: "Poppins", sans-serif;
}

.lets-talk input {
  position: relative;
  background: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid black;
  left: 20%;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 60%;
}
.lets-talk h3 {
  cursor: default;
}
input[name="name"]{
  margin-top: 10%;
}
input[name="mail"]{
  margin-top: 10%;
}

input[name="message"] {
  padding: 20px;
  height:20vh ;
  text-align: center;
}

input[name="send"] {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 10%;
  transition: transform 1s ;
}

input[name="send"]:hover {
  transform: translateX(20px);
  background: rgba(207, 115, 10, 0.787);
}

.skills {
  padding: 15px;
  margin: 10px;
  position: relative;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;

  top: 30%;
  right: 12%;
}
li{
  list-style: none;
}
.under-skills {
  padding: 15px;
  
  display: flex;
}
.skill {
  margin: 15px;
}

.form {
  position: relative;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  top: 30%;
  right: 12%;
}
.form h3 {
  margin-bottom: 10px;
}
input {
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.9);
}
.name  {
  display: flex;
  flex-direction: column;
}
.email  {
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  flex-direction: column;
}

.send button {
  position: relative;
  width: 50%;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}